<div style="text-align: center">
  <h1> Selected Article View </h1>
  <p>
    <%= link_to "Go Back", articles_path %>|
    <%= link_to "Edit Article", edit_article_path(@article) %> <br><br>
    Title: <%= @article.title%></br><br>
    Description: <%= @article.description %>

  </p>
</div>