<div class="container">
  <footer class="footer">
    <small>
      Copyright2019 &copy; <a href="email@example.com"> Alpha-Blog Udemy Tutorial </a>
      by <a href="user@email.com"> Al Wilson A. Tadeo </a>
    </small>
  </footer>

</div>